	<div class="nav"> </div>
			<div id="footer">
				<div id="pengyoulink">Notice</div><br>
				<div id="shengming">
					<a href="#">For learning and research purposes only, do not break the law.</a>&nbsp;&nbsp;&nbsp;
				</div>
			</div>	
		</div>	
	</body>
</html>	